<mat-toolbar color="primary">

  <mat-toolbar-row style="justify-content: space-between;">
    <div>
      <mat-button-toggle-group [value]="matButtonToggleGroup">
        <mat-button-toggle value="List" aria-label="List page"  [routerLink]="['/', 'list']">
          <span>List</span>
        </mat-button-toggle>
        <mat-button-toggle value="Map" aria-label="Map page" [routerLink]="['/', 'map']">
         <span>Map</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="search">
      <mat-form-field style="width: 100%;">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="search" placeholder="search here" class="search-input" (input)="searchSubject.next($event.target.value)">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button [routerLink]="['/', 'profile-edit']">Profile</button>
    </div>
     
  </mat-toolbar-row>

</mat-toolbar>
