<div>
  <!-- {{data.imageChangedEvent.toString()}} -->
  <!-- [cropper]="data.cropper" -->
  <image-cropper 
    [imageChangedEvent]="data.imageChangedEvent" 
    [imageBase64]="data.imageBase64"
    [maintainAspectRatio]="data.maintainAspectRatio" 
    [aspectRatio]="data.aspectRatio"
    [resizeToWidth]="data.resizeToWidth" 
    format="png" 
    (imageCropped)="data.imageCropped($event)" 
    (imageLoaded)="data.imageLoaded()"
    (cropperReady)="data.cropperReady()" 
    (loadImageFailed)="data.loadImageFailed()"
    style=" max-height: calc(100% - 200px) !important;"
  ></image-cropper>
  <div class="formRow_body ImgBtnCrop" style= "width: 167px;padding-bottom: 0;">
      <button nz-button (click)="done()" class="btnCust btnKod">
        Готово
      </button>
      <button nz-button class="btnCust btnOt" (click)="cancel()">
        Отменить
      </button>
      <!-- <button  (click)="addFile()" nz-button ngfSelect accept=".pdf"  class="btnCust btnOt btnFile">
        <i class="material-icons" style="padding-top: 1px;">attach_file</i>
        Добавить файл
      </button> -->
    </div>
</div>