
<section style="margin-top:30px">
  <div class="container">
  <div class="navigate-wrap">
    <button mat-raised-button style="width: 300px;" [routerLink]="['/', 'map']">Go to main</button>
  </div>
  <div class="user-edit-wrap">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{user.email}}</mat-card-title>
        <mat-card-subtitle>{{user.firstName}} {{user.lastName}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image *ngIf="user.image; else userImg" src="{{user.image}}" alt="user">
      <ng-template #userImg>dasdasd<img mat-card-image src="../../../assets/img/user.png" alt="user"></ng-template>
      <mat-card-content>
       <div class="flex-row" *ngIf="user.firstName">
         <div class="flex-row__title">First name</div>
         <div class="flex-row__body">{{user.firstName}}</div>
       </div>
       <div class="flex-row"*ngIf="user.lastName">
        <div class="flex-row__title">Last name</div>
        <div class="flex-row__body">{{user.lastName}}</div>
      </div>
      <div class="flex-row"*ngIf="user.email">
        <div class="flex-row__title">Email</div>
        <div class="flex-row__body">{{user.email}}</div>
      </div>
      <div class="flex-row"*ngIf="user.gender">
        <div class="flex-row__title">Gender</div>
        <div class="flex-row__body">{{user.gender}}</div>
      </div>
      <div class="flex-row"*ngIf="user.country">
        <div class="flex-row__title">Country</div>
        <div class="flex-row__body">{{user.country}}</div>
      </div>
      <div class="flex-row"*ngIf="user.city">
        <div class="flex-row__title">City</div>
        <div class="flex-row__body">{{user.city}}</div>
      </div>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button *ngIf="authorizationUserId == user.id" [routerLink]="['/profile-edit']">Edit</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
</section>
