.user-edit-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.navigate-wrap {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
}
.mat-card {
  max-width: 500px;
  margin: 0 auto;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 10px;
}
.flex-row__title {
  flex-basis: 100px;
  font-size: 15px;
  font-weight: 500;
}
