<div class = "img_wrap" ngfDrop selectable="1" accpet="image/*" multiple="1" [fileDropDisabled]="false"
[(file)]="imageFile">
<img style="max-width: 100%; width: 100%; height: 100%" *ngIf="croppedImage.file" [ngfSrc]="croppedImage.file">
<img style="max-width: 100%; width: 100%; height: 100%" *ngIf="!croppedImage.file && initialImage" [src]="initialImage">
<img style="max-width: 100%; width: 100%; height: 100%" *ngIf="!croppedImage.file && !initialImage"
  [src]="placeHolder">
<div style="max-width: 100%; width: 100%; height: 100%" *ngIf="!croppedImage.file && !initialImage" class="CropText">
  Нажмите или перетащите файл сюда, чтобы загрузить изображение 
</div>

</div>
<!-- <div class="CropBtnBlock" *ngIf="editing && (initialImage || croppedImage.file)" style="margin-left: -52px;"> -->
<div class="CropBtnBlock"  style="display: flex;justify-content: center;">
  <button mat-stroked-button color="accent"(click)="editImage()" style="margin-right: 15px;"><i class="material-icons">edit</i></button>
  <button mat-stroked-button color="warn"  (click)="deleteImage()"><i class="material-icons">delete</i></button>
</div>
