<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = getServerData($event)">
</mat-paginator>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true" 
  style="height: 600px;" [usePanning]="true">

  <agm-marker *ngFor="let m of usersList; let i = index" [latitude]="+m.lat" [longitude]="+m.lon"  
    [label]="{fontWeight: 'bold', text: m.firstName}"
    [iconUrl]="{url: m.image, scaledSize: {height: 40,width: 40}}"
    (markerClick)="navigateProvile(m.id)">
  </agm-marker>

</agm-map>