/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~normalize-scss/sass/normalize/import-now";
// @import "normalize"
html, body { 
	height: 100%; 
}
body {
	margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}
h1,h2,h3,h4,p{
  margin: 0;
  padding: 0;
}
.container{
	width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto
}




.mat-form-field-prefix .mat-icon{
	font-size: 140%;
	margin-right: 9px;
}
.mat-toolbar{
	font-size: 15px;
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
	line-height: 36px !important;
	padding: 0 20px !important
}

.CropDialog{
	max-height: 80vh;
}

@media (min-width:576px){
	.container{
		max-width:540px
	}
}
@media (min-width:768px){
	.container{
		max-width:720px
	}
}
@media (min-width:992px){
	.container{
		max-width:960px
	}
}
@media (min-width:1200px){
	.container{
		max-width:1140px
	}
}