.user-edit-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.user-edit-wrap_ava{
  flex-basis: 300px;
}
.user-edit-wrap_data {
  flex: 1;
  padding-left: 30px;
}
.user-edit-wrap_data .example-form{
  display: flex;
  flex-direction: column;
}
.navigate-wrap{
  display: flex;
  justify-content: flex-end;
}
@media (max-width:768px){
	.user-edit-wrap_data {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
