
<section style="margin-top:30px">
  <div class="container">
  <div class="navigate-wrap">
    <button mat-raised-button style="width: 300px;" [routerLink]="['/', 'list']">Go to main</button>
  </div>
  <div class="user-edit-wrap">
    <div class="user-edit-wrap_ava">
      <app-loadable-image #background class="logoBl__fon"
      [initialImage]="userAvatarUrl" placeHolder="../../../assets/img/user.png"
      editingText="Нажмите или перетащите файл сюда, чтобы загрузить изображение" [aspectRatio]="250/250"
      (onChange)="avatarChanged($event)">
      </app-loadable-image>
    </div>

    <div class="user-edit-wrap_data">
      <form class="example-form" [formGroup]="form" (ngSubmit)="saveUserData()">

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. pat@example.com" formControlName="email" [errorStateMatcher]="matcher">
          <ng-container *ngIf="form.get('email').touched && form.get('email').dirty && form.get('email').invalid">
              <mat-error *ngIf="form.get('email').hasError('email')" >
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="form.get('email').hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
          </ng-container> 
          
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" [errorStateMatcher]="matcher">
          <ng-container *ngIf="form.get('email').touched && form.get('firstName').dirty && form.get('firstName').invalid">
              <mat-error *ngIf="form.get('firstName').hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
          </ng-container> 
          
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName" [errorStateMatcher]="matcher">
          <ng-container *ngIf="form.get('lastName').touched && form.get('lastName').dirty && form.get('lastName').invalid">
              <mat-error *ngIf="form.get('lastName').hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
          </ng-container> 
          
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Country</mat-label>
          <input matInput formControlName="country" [errorStateMatcher]="matcher">
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" [errorStateMatcher]="matcher"> 
        </mat-form-field>


        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <mat-radio-button value="man" style="margin-right:15px;">man</mat-radio-button>
          <mat-radio-button value="woman">woman</mat-radio-button>
        </mat-radio-group>

        <button mat-raised-button color="primary" type="submit" 
        [disabled]="form.invalid || !changeDate" style="margin-left: auto;width: 162px;">Save</button>
      </form>
    </div>
  </div>
</div>
</section>
