<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName ? element.firstName: 'no data'}} </mat-cell>
    </ng-container>
  
   
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName ? element.lastName: 'no data'}} </mat-cell>
    </ng-container>
  
   
    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email ? element.email: 'no data'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="btn">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <button mat-raised-button [routerLink]="['/profile', element.id]">Profile</button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = getServerData($event)">
</mat-paginator>
</div>
